body {
    width: 100vw;
    height: 100vh;
    background-color: #6158CC;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
}

div.at-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
}

.at-item {

    animation-name: focus-in-contract;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .15em;
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
    color: #202c2d;


}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

#invader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;

    /* width: calc(32px * 8); */

}

.cell {
    background-color: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, .54);
    width: 32px;
    height: 32px;
}

.configuration {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 64px;
    background-color: #3148AD;
    margin-bottom: 16px;
}

.configuration input {
    width: 150px;
    margin: 8px;
    border-radius: 5px;

}


.config-form-submit {
    color: #fff;
    height: 32px;
    background-color: #9868e4;
    padding: 4px 16px;
    border-radius: 0 8px 8px 0;
    border: none;
    margin-left: 16px;
}

#palette {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 8px;
    margin: 4px 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .34);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: fixed;
    bottom: 16px;
    right: 16px;


}

.style-selector {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 8px;
    cursor: pointer;
}

[data-style-name="plain"] {
    background-color: rgb(0, 0, 0, .82);
}

[data-style-name="empty"] {
    background-color: #c5c5c5;
}

[data-style-name="light"] {
    background-color: #234B78;
}

[data-style-name="highlight"] {
    background-color: #0AC3A7;
}

[data-style-name="higtligth2"] {
    background-color: #E56324;
}

[data-style-name="greenlight"] {
    background-color: #28912a;
}

[data-style-name="yellowligtht"] {
    background-color: #edd83d;
}

[data-style-name="redlight"] {
    background-color: #E12D54;
}

[data-style-name="brownlight"] {
    background-color: #563e3e
}


